.owl-dots {
  display: none;
}

.owl-prev {
  position: absolute;
  top: 40%;
  background: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 45%;
  text-align: center;
  border-radius: 50%;
  line-height: 36px;
  font-size: 33px;
  opacity: 0.5;
}

.owl-next {
  position: absolute;
  top: 40%;
  right: 0;
  background: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 45%;
  text-align: center;
  border-radius: 50%;
  line-height: 36px;
  font-size: 33px;
  opacity: 0.5;
}

.product-image {
  max-height: 174px;
  min-height: 174px;
}

#footer {
  margin-top: -27px;
}

.cus-owl-4img .owl-carousel .owl-stage-outer {
  overflow: inherit;
}

.zoomContainer {
  overflow: hidden;
}

.rupie-X {
  font-size: 20px;
}

.product-pop-over {
  max-height: 241px !important;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mt {
  margin: 14px;
}

.absolute-inner-center {
  position: relative;
}

.inner-center {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.pannel-relative {
  position: relative;
}

#toggle_plus_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  color: #78b144;
  font-size: 14px;
}

.radio_pament {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

.outline_none {
  outline: none !important;
}

.ship_show_detail {
  color: #333;
}

input {
  outline: none;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  [class~=home-4] [class~=custum-container] [class~=container] {
    width: 750px;
  }
}

@media (min-width: 992px) {
  [class~=home-4] [class~=custum-container] [class~=container] {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  [class~=home-4] [class~=custum-container] [class~=container] {
    width: 1170px;
  }
}

